.logo {
  width: 90px;
}

.header {
  max-width: 1200px; /*O site só cresce até 1200px*/
  padding: 40px 20px; /*Para um espaçamento entre o conteúdo e a margem, bom para quando temos uma cor de fundo*/
  margin: 0 auto; /*ALINHAR HEADER SEMPRE AO CENTRO: margens cima e baico 0, direita e esquerda automáticas*/
  display: flex; /*Para que todos os elementos do header ocupem a mesma linha*/
  justify-content: space-between; /*acrescenta espas iguais entre todos os itens do header*/
  align-items: center; /*Alinha os itens ao centro do maior item do header (exemplo: alinhou os links ao centro da logo)*/
}

.header-menu {
  display: flex; /*para que os itens do menu ocupem a mesma linha*/
  gap: 10px; /*espaçamento entre os itens do header*/
  flex-wrap: wrap; /*Caso o header diminua, ele quebre*/
  justify-content: center;
}

.header-menu a {
  font-size: 1.125rem; /*1rem=16px*/
  line-height: 1.3; /*altura da linha menu*/
  padding: 10px 20px; /*aumentra a área de click de cada link*/
  text-decoration: none; /*tira o sublinhado dos links*/
  color: #141414; /*define a cor do texto dos links (links não herdam estilos definidos no body*/
  display: block; /*para pegar corretamente os valores do padding*/
}

/*RESPONSIVO*/
/* Para telas menores que 800px, aplicam-se as propriedades abaixo:*/
@media (max-width: 800px) {
  .header {
    /*aplicar ao header*/
    flex-direction: column; /*Muda a direção do flex de linha para colunha*/
    gap: 40px; /*espaçamento de 40px entre os elementos*/
    padding: 20px; /*Diminui o padding, agora que a tela está menor*/
  }
  .header a {
    /*aplica-se aos links do header*/
    background: #f5f5f5; /*um fundo*/
    border-radius: 4px; /*bordas arredondadas*/
  }
}
