.visite a {
  display: block;
  font-size: 1.1rem;
  text-decoration: none;
  color: rgb(51, 110, 65);
  background: linear-gradient(#b6f829, #67dd0a);
  border-radius: 50px;
  padding: 8px;
  text-align: center;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 100px;
  margin-left: 200px;
}
